# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.db
*.sqlite3

# Environments
*.env
.venv/
venv/
env/

# IDE
.idea/
.vscode/
*.sublime-project
*.sublime-workspace

# Others
.DS_Store
*.log

# Tests and coverage
htmlcov/
.tox/
.nox/
coverage.xml
*.cover
*.py,cover
.cache
pytest_cache/
/help/
/node_modules/
/docker_develop/.env
/app/uploads/
/app/data/
/app/migrations/
/test.py
/.env